$theme-color: #009CFF;

.appointmentPage {
    padding-top: 100px;
    background-image: url('../assets/bg/appointmentBg.jpg');
    background-size: cover;
    padding-bottom: 100px;

    @media (max-width: 992px) {
        padding: 20px 0px;
    }

    .container {
        display: flex;
        background: #ffffff;
        border-radius: 20px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
        padding: 3%;

        @media (max-width: 992px) {
            padding: 8%;
            margin: 10px;
            width: auto;
        }
    }

    .container_circle {
        position: absolute;
        top: 0;
        left: 0;
        height: 200%;
        width: 200%;
        background-color: #fbcf34;
        border-radius: 50%;
        -ms-transform: translateX(-50%) translateY(-25%);
        transform: translateX(-50%) translateY(-25%);
    }

    h3 {
        font-size: 30px;
        line-height: 1;
        margin: 0 0 36px;
    }

    .note-section {
        color: $theme-color;
        font-size: 16px !important;
        font-weight: 500;
        margin: 0 0 3px;
    }
}