$theme-color: #009CFF;
$primary-padding: 50px;

.courseDetailsPage {

  .courseDetails {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;

    .courseHeader {
      position: relative;
      background-color: #F6F6F6;
      display: flex;
      justify-content: space-between;
      margin: 20px -2000px;
      padding: 0px 2000px;

      .overview {
        width: 60%;
        padding: 35px;

        .breadcrumbs {
          font-size: 16px;
          line-height: 30px;
          font-weight: 500;
          color: black;
          display: flex;
          margin-bottom: 35px;

          .anchor {
            color: inherit;
            display: inline-block;

            &:hover {
              color: $theme-color;
              text-decoration: none;
            }

            i {
              display: inline-block;
              font-size: 14px;
              color: black;
            }
          }

          span {
            margin: 0 5px;
          }

        }

        .courseInfo {
          .firstLine {
            display: flex;
            font-size: 20px;
            margin-bottom: 10px;
            margin: 0px;

            div {
              display: flex;
              margin-right: 40px;

              i {
                display: inline-block;
                color: $theme-color;
                margin-right: 5px;
              }
            }
          }
        }

        h1 {
          font-weight: bold;
          margin: 20px 0px 35px;
        }

        .qu_btn {
          background: linear-gradient(90deg, #74E291 0%, #009CFF 100%);
        }
      }

      .postThumb {
        margin: auto;

        img {
          object-fit: cover;
          height: 70%;
          width: 500px;
          object-position: center center;
          border-radius: 4px;
          box-shadow: 15px 15px 0px 0px #74E291;
        }
      }
    }

    .courseBody {
      padding: $primary-padding;
      display: flex;
      justify-content: space-around;

      .desc {
        width: 60%;
        padding: 20px 0px;
        margin-right: 40px;

        h2 {
          font-weight: 700;
        }
      }

      .perks {
        box-shadow: 2px 2px 30px 0px rgba(31, 28.99999999999999, 12.999999999999998, 0.09);
        transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 20px 40px;
        border-radius: 8px;

        &:hover {
          background-color: #9cd9ffaa;
        }

        h3 {
          margin: auto 10px;
        }

        i {
          font-size: 40px;
        }

        ul {
          padding-left: 5px;
          list-style-type: none;

          li:before {
            content: "\eaa6";
            /* FontAwesome Unicode */
            font-family: themewar;
            padding-right: 10px;
            color: #009CFF;
          }
        }
      }
    }

    .courseContent {
      padding: 20px 50px;
    }
  }
}