.footer {
  margin-top: 100px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  border-color: white;
}