$theme-color: #009cff;

.fixedHeader {
  position: fixed;
  width: 100%;
  padding: 0 100px;
  border: none;
  top: 0;
  left: 0;
  background: #1a1a1a;
  z-index: 99;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.15);

  .mainMenu > ul > li {
    padding: 39px 0 !important;
  }

  .logo img {
    height: 6em !important;
  }
}

.relative {
  position: relative !important;
  background-color: #1a1a1a;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 3;
  // background: rgba(#f3f3f3, 0.5);

  Header {
    margin: auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    animation: slide 0.3s;
    box-shadow: 0 20px 30px rgba(#000, 0.2);
    background: #1a1a1a;

    label {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar {
    justify-content: flex-end;
    display: flex;
    padding: 0;
  }

  .logo {
    line-height: 62px;
    margin-right: auto;

    img {
      height: 8em;
    }
  }

  .mainMenu {
    margin-left: auto;
    padding: 0;
    position: relative;
    padding: 0 0 0 32px;

    .anchor,
    a {
      color: #fff;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 24px;
      padding: 0;
      position: relative;
      display: inline-block;
      color: #fff;
      font-weight: 500;
      z-index: 2;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        line-height: 0.8;
        margin: 0 32px 0 0;
        display: inline-block;
        position: relative;
        padding: 63px 0;

        &:hover,
        .anchor.active {
          color: $theme-color;
        }

        &:before {
          background: #fff;
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          height: 2px;
          content: "";
          margin: 0 auto;
          width: 0;
          transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
          -moz-transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
          -webkit-transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        }
      }
    }

    ul:hover:before {
      width: 100%;
      left: 0;
      right: auto;
    }

    ul li.menu-item-has-children > a:after {
      content: "\f043";
      font-family: "themewar" !important;
      display: inline-block;
      letter-spacing: 0;
      font-size: 14px;
      color: inherit;
      position: relative;
      top: 0;
      margin-left: 4px;
    }
  }

  .mainMenu > ul > li > ul,
  .mainMenu > ul > li > ul > li > ul {
    padding: 15px 0;
    position: absolute;
    top: 100%;
    left: -20px;
    pointer-events: none;
    min-width: 220px;
    border-radius: 0;
    background: #1a1a1a;
    border-color: #fff;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 9px 52px -24px rgba(0, 0, 0, 0.17);
    z-index: 10;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .mainMenu > ul ul li {
    padding: 0;
    display: block;
    width: 100%;
    padding: 10px 20px 7px;
    margin: 0;
  }

  .mainMenu > ul li:hover > ul {
    pointer-events: inherit;
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotatex(0deg);
    -moz-transform: rotatex(0deg);
    transform: rotatex(0deg);
  }

  .accessNav {
    .qu_btn {
      background: #fff;
      color: #1a1a1a;
    }

    .qu_btn:before {
      background: linear-gradient(
        90deg,
        $theme-color 0%,
        $theme-color 100%
      ) !important;
    }

    .qu_btn:hover {
      color: #fff;
    }
  }

  .navleft {
    margin-right: 0px;
    display: flex;
    align-items: center;
    color: #fff;

    .icon_box_04 {
      margin: -8px 0 0 70px;
      padding-right: 20px;
      border-left: none;
      border-right: 1px solid #e6e6e6;
      position: relative;
      padding-left: 92px;

      .ib_box {
        position: absolute;
        left: 30px;
        top: 7px;
        color: var(--theme-color);
        font-size: 36px;
        line-height: 36px;
      }

      p {
        font-size: 12px;
        margin: 0 0 -1px;
      }

      h3 {
        font-size: 15px;
        line-height: 1;
        margin-top: 5px;

        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: $theme-color;
            border-color: $theme-color;
          }
        }
      }
    }

    .searchBtn {
      margin-left: 26px;

      a {
        &:hover,
        .active a {
          color: $theme-color;
          cursor: pointer;
        }
      }
    }
  }

  .menuToggler {
    display: none;
  }

  /*-- Search Modal ---*/
  .searchBar {
    position: absolute;
    right: -22px;
    top: 106px;
    width: 300px;
    height: 60px;
    background: #fff;
    padding: 0;
    border-radius: 50px;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
    -o-transition: all ease 400ms;
    box-shadow: 1px 1px 1px 1px rgb(167, 167, 167);
  }

  .searchBtn.active .searchBar {
    visibility: visible;
    opacity: 1;
  }

  .searchBtn.active a {
    color: $theme-color;
  }

  .searchBar input[type="search"] {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    border: none;
    line-height: 60px;
    background: transparent;
    color: #8f96a1;
    outline: none;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    z-index: 2;
    border-radius: 50px;
  }

  .searchBar input[type="search"]::-moz-placeholder {
    color: #8f96a1;
    opacity: 1;
  }

  .searchBar input[type="search"]::-ms-input-placeholder {
    color: #8f96a1;
    opacity: 1;
  }

  .searchBar input[type="search"]::-webkit-input-placeholder {
    color: #8f96a1;
    opacity: 1;
  }

  .searchBar button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    background: $theme-color;
    padding: inherit;
    color: #fff;
    line-height: 40px;
    outline: none;
    z-index: 3;
    border: none;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
    -o-transition: all ease 400ms;
  }

  .searchBar button:hover {
    background: #1a1a1a;
  }

  .sidebarMenu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  .sidebarMenuOverlay {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    cursor: url(../images/close.png), auto;
    transition: all 0.4s ease-in 0.8s;
  }

  .sidebarMenu.active .sidebarMenuOverlay {
    visibility: visible;
    left: 0;
    opacity: 1;
    transition: all 0.8s ease-out 0s;
  }

  .sidebarMenuOverlay:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 100%;
    content: "";
    background: #fff;
    z-index: 999;
  }

  .SMArea {
    width: 360px;
    height: 100%;
    z-index: 99;
    background: transparent;
    padding: 0;
    overflow-y: auto;
    position: fixed;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: all 0.3s ease-in 0.3s;
    -webkit-backface-visibility: hidden;
  }

  .sidebarMenu.active .SMArea {
    opacity: 1;
    visibility: visible;
    top: 0;
    transition: all 0.2s ease-out 1.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .SMAHeader {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px 15px 30px;
    border-bottom: 1px solid rgba(35, 35, 35, 0.1);
  }

  .SMAHeader h3 {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #232323;
    margin: 0;
    line-height: 22px;
    text-transform: uppercase;
  }

  .SMAHeader h3 i {
    font-size: 16px;
    position: relative;
    top: -2px;
    margin-right: 6px;
  }

  .SMACloser {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 99;
    color: #000;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    margin-left: auto;
    border: 1px solid rgba(35, 35, 35, 0.1);
    text-decoration: none;
    caret-color: transparent;
  }

  .SMACloser:hover {
    color: var(--theme-color);
    border-color: var(--theme-color);
  }

  .SMABody {
    margin: 0;
    padding: 0;
  }

  .SMABody ul {
    margin: 0;
    padding: 0;
  }

  .SMABody ul li {
    display: block;
    list-style: none;
  }

  .SMABody ul li a {
    font-size: 17px;
    font-weight: 500;
    color: #1a1a1a;
    text-transform: capitalize;
    line-height: 1.1;
    display: block;
    padding: 14px 30px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
  }

  .SMABody ul li a.active,
  .SMABody ul li a.current-menu-item > a {
    color: $theme-color;
  }

  .SMABody > ul > li > ul li a {
    padding-left: 45px;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 0;
  }

  .SMABody > ul > li > ul > li > ul > li a {
    padding-left: 60px;
  }

  .SMABody ul li.menu-item-has-children > a:after {
    font-family: "themewar" !important;
    content: "\f043";
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    right: 29px;
    top: 13px;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
  }
}

/*=============================================*/
/*=========Responsive CSS======================*/
/*=============================================*/

@media (min-width: 1200px) and (max-width: 1700px) {
  header {
    width: calc(100% - 80px);
  }
}

@media (max-width: 1199px) {
  .logo {
    padding: 41px 0;
  }

  .fixedHeader .navbar {
    padding-right: 60px !important;
  }

  .accessNav {
    .menuToggler {
      display: block !important;
      font-size: 16px;
      line-height: 45px;
      color: #232424;
      padding: 0;
      position: relative;
      margin: 25px 21px 25px 0;
      background: #eeeeee;
      width: 45px;
      height: 45px;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      caret-color: transparent;
    }

    .anchor {
      display: none;
    }
  }

  .mainMenu,
  .icon_box_04 {
    display: none;
  }

  .navbar {
    padding-right: 30px !important;
    height: 120px;
    flex-wrap: nowrap;

    .logo img {
      height: 6em !important;
    }
  }

  .fixedHeader {
    padding: 0;

    .logo img {
      height: 6em !important;
    }
  }

  .banner {
    margin-top: 120px;

    .banner-content {
      padding-top: 0 !important;

      .qu_btn {
        width: 200px !important;
      }
    }
  }
}
