.Home {
    margin-top: 80px;
}

.banner {
    background-image: url('/src/assets/slider/1.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
    width: 99vw;
}

.banner-content {
    margin: auto;
    text-align: center;
}

.services-button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}