.payments {
    width: 40%;
    margin: 20px auto 20px;

    .amountForm {
        margin-bottom: 20px;
    }

    .paymentButton {
        .hideButton {
            display: none;
        }
    }
}

/*=============================================*/
/*=========Responsive CSS======================*/
/*=============================================*/

@media only screen and (max-width: 992px) {
    .payments {
        width: 90%;
    }
}