.scheduleManagementPage {
  .container {
    text-align: center;

    .react-datepicker {
      .react-datepicker__time-container {
        .react-datepicker__time {
          .react-datepicker__time-list-item--selected {
            background-color: white;
            color: black;
            font-weight: normal;
            cursor: pointer;

            &:hover {
              background-color: #b3b3b38f;
              color: black;
              font-weight: normal;
            }

            &.disabledDateTime {
              background-color: #b3b3b3 !important;
              color: black;
              font-weight: normal;
            }
          }

          .react-datepicker__time-list-item {
            &.disabledDateTime {
              background-color: #b3b3b3;
              color: black;
              font-weight: normal;
            }

            &:hover {
              cursor: pointer;
              background-color: #919191;
            }
          }
        }
      }

      .react-datepicker__day {
        &:hover {
          background-color: #216ba5;
        }

        &.react-datepicker__day--disabled:hover {
          background-color: none;
        }

        &.disabledMonth {
          background-color: #ffdc74;
          color: black;
          font-weight: normal;

          &.react-datepicker__day--selected {
            background-color: #FFC107;
          }

          &:hover {
            background-color: #FFC107;
          }
        }

        &.disabledWeek {
          background-color: #74C4FF;
          color: black;
          font-weight: normal;

          &.react-datepicker__day--selected {
            background-color: #0089ea;
          }

          &:hover {
            background-color: #0089ea;
          }
        }

        &.disabledDay {
          background-color: #fd9292;
          color: black;
          font-weight: normal;

          &.react-datepicker__day--selected {
            background-color: #e43b3b;
          }

          &:hover {
            background-color: #e43b3b;
          }
        }
      }
    }

    .colorDisplay {
      display: flex;
      justify-content: center;
      margin: 10px;

      .box {
        position: relative;
        margin-left: 32px;
        margin-right: 5px;
      }

      .box:before {
        position: absolute;
        left: -20px;
        content: "";
        height: 20px;
        width: 20px;
        margin-bottom: 15px;
        border: 1px solid black;
      }

      .red::before {
        background-color: #fd9292;
      }

      .grey::before {
        background-color: #b3b3b3;
      }

      .yellow::before {
        background-color: #ffdc74;
      }

      .blue::before {
        background-color: #74c4ff;
      }
    }

    .switchButton {
      justify-content: center;
      margin: 10px;

      p {
        margin-bottom: 4px;
      }

      .switch {
        margin-right: 10px;
      }
    }

    .buttons {
      margin: 10px;

      button {
        margin-right: 10px;
      }
    }

    .css-lzr3bi-LoadingOverlayWrapperBase {
      border-radius: 8px;
      height: 105% !important;
      width: 100% !important;
      top: -9px !important;
      left: 0px !important;
    }
  }
}