.scheduleManagementPage {
  .container {
    text-align: center;

    .react-datepicker {
      .react-datepicker__time-container {
        .react-datepicker__time {
          .react-datepicker__time-list-item--selected {
            background-color: white;
            color: black;
            font-weight: normal;
            cursor: pointer;

            &:hover {
              background-color: #b3b3b38f;
              color: black;
              font-weight: normal;
            }

            &.disabledDateTime {
              background-color: #b3b3b3 !important;
              color: black;
              font-weight: normal;
            }
          }

          .react-datepicker__time-list-item {
            &.disabledDateTime {
              background-color: #b3b3b3;
              color: black;
              font-weight: normal;
            }

            &:hover {
              cursor: pointer;
              background-color: #919191;
            }
          }
        }
      }

      .react-datepicker__day {
        &:hover {
          background-color: #216ba5;
        }

        &.react-datepicker__day--disabled:hover {
          background-color: none;
        }

        &.disabledMonth {
          background-color: #fd9292;
          color: black;
          font-weight: normal;

          &.react-datepicker__day--selected {
            background-color: #e43b3b;
          }

          &:hover {
            background-color: #e43b3b;
          }
        }

        &.disabledDay {
          background-color: #fd9292;
          color: black;
          font-weight: normal;

          &.react-datepicker__day--selected {
            background-color: #e43b3b;
          }

          &:hover {
            background-color: #e43b3b;
          }
        }
      }
    }

    .buttons {
      margin: 10px;
    }

    .css-lzr3bi-LoadingOverlayWrapperBase {
      border-radius: 8px;
      height: 105% !important;
      width: 100% !important;
      top: -9px !important;
      left: 0px !important;
    }
  }
}