$theme-color: #009CFF;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

a,
NavLink {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  -webkit-transition: all ease 400ms;
}

a:hover,
NavLink:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.scrollToTopButton {
  position: fixed;
  right: 25px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: #009CFF;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  z-index: 999;
  border-radius: 50%;

  &:hover {
    background: #009CFF;
    color: #143a52;
    text-decoration: none;
  }

  i {
    line-height: inherit;

  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.page_banner {
  position: relative;
  height: 450px;
  padding: 190px 0 120px;
  background-color: #0b1319;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("./assets/bg/banner.jpg");

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(11, 19, 25, 0.45);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .banner-title {
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    margin: 0;
  }

  .breadcrumbs {
    margin: 19px 0 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;

    .anchor {
      color: inherit;
      display: inline-block;

      &:hover {
        color: $theme-color;
        text-decoration: none;
      }

      i {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        line-height: 30px;
        margin-right: 11px;
      }
    }

    span {
      margin: 0 5px;
    }
  }
}